<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>楼长主页</title>
        <link rel="stylesheet" type="text/css" href="../static/navstyle.css">
    </head>

    <body>
        <nav>
            <h1 class="title">寝室卫生管理系统</h1>
            <ul>
                <li id="text3">您好，{{request.session.username}}</li>
                <li id="text1"><a href="{% url 'HousemasterSearch' %}">卫生情况查看</a></li>
                <li id="text2"><a href="{% url 'HousemasterStatistic' %}">卫生情况统计</a></li>
                <!-- <ul id="list1">
                    <li class="content1">text11</li>
                    <li class="content1">text11</li>
                    <li class="content1">text11</li>
                </ul>

                <ul id="list2">
                    <li class="content2">text21</li>
                    <li class="content2">text21</li>
                    <li class="content2">text21</li>
                </ul> -->
                
                <a href="{% url 'logout' %}">退出</a>
            </ul>
        </nav> 
    </body>

</html>