<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>学生干部任务通知成功主页</title>
        <link rel="stylesheet" type="text/css" href="/static/check.css">
    </head>

    <body>
        <nav>
            <h1 class="title">寝室卫生管理系统</h1>
            <ul>
                <li id="text3">您好，{{request.session.username}}</li>
                <li id="text1"><a href="{% url 'MonitorCheck' %}">卫生检查管理</a></li>
                <li id="text2"><a href="{% url 'MonitorInform' %}">任务通知提醒</a></li>
                <!-- <ul id="list1">
                    <li class="content1">检查结果录入</li>
                    <li class="content1">text11</li>
                    <li class="content1">整改方案录入</li>

                </ul>

                <ul id="list2">
                    <li class="content2">text21</li>
                    <li class="content2">text21</li>
                    <li class="content2">text21</li>
                </ul> -->
                

                <a href="{% url 'logout' %}">退出</a>
            </ul>
        </nav> 
        <div class="tablestyle">
            
            <table>
                <caption>已向{{dno}}宿舍的以下学生发送任务提醒通知<br><br>学院：{{dept_name}}&nbsp;&nbsp;&nbsp;&nbsp;宿舍楼号：{{num}}</caption>

                <tr>
                    <th class="th2">学号</th>
                    <th class="th2">所属年级</th>
                    <th class="th2">姓名</th>
                    <th class="th2">电话号码</th>
                    <th class="th3">邮箱</th>

                </tr>
                {%for i in stu_ls%}
                <tr>
                    <th class="th2">{{i.sno}}</th>
                    <th class="th2">{{i.sclass}}</th>
                    <th class="th2">{{i.name}}</th>
                    <th class="th2">{{i.phone}}</th>
                    <th class="th3">{{i.email}}</th>                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>

</html>